@using Newtonsoft.Json
@using Warehouse.Class
@using System.Data
@{
	if (Context.Session.GetString(Util.SESSION_USER_NAME) == null)
	{
		Context.Response.Redirect("/login");
	}
}
<!DOCTYPE html>
<html lang="en">
<head>
    @* <meta charset="utf-8" />
    <title>@ViewData["Title"] - Warehouse</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Warehouse.styles.css" asp-append-version="true" /> *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Warehouse</title>

	<link rel="icon" href="assets/images/index.ico" type="image/png" />
	<!--plugins-->
	<link href="assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
	<link href="assets/plugins/fullcalendar/css/main.min.css" rel="stylesheet" />
	<link href="assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
	<link href="assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
	<link href="assets/plugins/highcharts/css/highcharts.css" rel="stylesheet" />
	<link href="assets/plugins/datatable/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/select2/css/select2.min.css" rel="stylesheet" />
	<link href="assets/plugins/select2/css/select2-bootstrap4.css" rel="stylesheet" />
	<link type="text/css" href="//gyrocode.github.io/jquery-datatables-checkboxes/1.2.12/css/dataTables.checkboxes.css" rel="stylesheet" />
	<!-- Bootstrap CSS -->
	<link href="assets/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/css/bootstrap-extended.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
	<!-- Swiper CSS -->
	<!-- <link rel="stylesheet" href="assets/css/swiper-bundle.min.css" /> -->
	<link href="assets/css/app.css" rel="stylesheet">
	<link href="assets/css/icons.css" rel="stylesheet">
	<!-- Theme Style CSS -->
	<link rel="stylesheet" href="assets/css/dark-theme.css" />
	<link rel="stylesheet" href="assets/css/semi-dark.css" />
	<link rel="stylesheet" href="assets/css/header-colors.css" />
	<script src="assets/js/jquery.min.js"></script>
</head>
<body>
	<!--wrapper-->
	<div class="wrapper">
		<div class="sidebar-wrapper" data-simplebar="true">
			<div class="sidebar-header">
				<div>
					<a href="/index"><h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">Warehouse</h3></a>
				</div>
				<div class="toggle-icon ms-auto"><i class='bx bx-first-page'></i>
				</div>
			</div>
			<!--navigation-->
			<ul class="metismenu" id="menu">
				<li class="menu-label">Menu</li>
				@if (Context.Session.GetString(Util.SESSION_USER_ROLE) != Util.ROLE_OPERATOR)
				{
					<li>
						<a asp-page="/User">
							<div class="parent-icon">
								<i class='bx bxs-user-account'></i>
							</div>
							<div class="menu-title">User</div>
						</a>
					</li>
					<li>
						<a asp-page="/Master">
							<div class="parent-icon">
								<i class='bx bx-food-menu'></i>
							</div>
							<div class="menu-title">Master</div>
						</a>
					</li>
				}
				<li>
					<a asp-page="/Transaction">
						<div class="parent-icon">
							<i class='bx bxs-truck'></i>
						</div>
						<div class="menu-title">Transaction</div>
					</a>
				</li>
				<li>
					<a asp-page="/Report">
						<div class="parent-icon">
							<i class='bx bxs-report'></i>
						</div>
						<div class="menu-title">Report</div>
					</a>
				</li>
			</ul>
			<!--end navigation-->
		</div>
		<!--end sidebar wrapper -->
		<!--start header -->
		<header>
			<div class="topbar d-flex align-items-center">
				<nav class="navbar navbar-expand">
					<div class="mobile-toggle-menu">
						<i class='bx bx-menu'></i>
					</div>
					<div class="top-menu ms-auto">
					</div>
					<div class="user-box dropdown">
						<a class="d-flex align-items-center nav-link dropdown-toggle dropdown-toggle-nocaret" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<img src="assets/images/avatars/nanda.jpg" class="user-img" alt="user avatar">
							<div class="user-info ps-3">
								<p class="user-name mb-0">@Context.Session.GetString(Util.SESSION_FULL_NAME)</p>
								<p class="designattion mb-0">@Context.Session.GetString(Util.SESSION_USER_ROLE_NAME)</p>
							</div>
						</a>
						<ul class="dropdown-menu dropdown-menu-end">
							<li>
								<a class="dropdown-item" href="javascript:;"><i class="bx bx-user"></i><span>Profile</span></a>
							</li>
							<li>
								<a class="dropdown-item" onclick="changePasswordClick()">
									<i class="bx bx-lock"></i><span>Change Password</span>
								</a>
							</li>
							<li>
								<div class="dropdown-divider mb-0"></div>
							</li>
							<li>
								<a class="dropdown-item" href="/login"><i class='bx bx-log-out-circle'></i><span>Logout</span></a>
							</li>
						</ul>
					</div>
				</nav>
			</div>
		</header>
		<!--end header -->
		<!--start page wrapper -->
		<div class="page-wrapper">
			<div class="toast" id="toastMessage" style="position: absolute; top: 10px; right: 20px; z-index: 900;">
				<div class="toast-header text-success">
					<div class="me-2">
						<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 48 48">
							<path fill="#c8e6c9" d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z"></path>
							<path fill="#4caf50" d="M34.586,14.586l-13.57,13.586l-5.602-5.586l-2.828,2.828l8.434,8.414l16.395-16.414L34.586,14.586z"></path>
						</svg>
					</div>
					<strong class="me-auto">Success</strong>
					<button type="button" class="me-2 mb-1 btn-close" onclick='$("#toastMessage").toast("hide")' aria-label="Close">
					</button>
				</div>
				<div class="toast-body">
					Password successfully updated
				</div>
			</div>
			<div class="page-content">
				@RenderBody()
			</div>
		</div>
		<!--end page wrapper -->

		<div class="modal fade" id="modalChangePassword" tabindex="-1" aria-labelledby="modalChangePasswordLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content radius-10">
					<div class="modal-header">
						<h5 class="modal-title" id="modalChangePasswordLabel">Change Password</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<label for="oldPassword" class="form-label">Old Password</label>
							<input type="password" class="form-control" id="oldPassword" aria-describedby="msgOldPass" onkeyup="newPasswordChange()" required>
							<div id="msgOldPass" class="invalid-feedback">
								Enter your old password
							</div>
						</div>
						<div class="mb-3">
							<label for="newPassword" class="form-label">New Password</label>
							<input type="password" class="form-control" id="newPassword" onkeyup="newPasswordChange()" aria-describedby="msgNewPass" required>
							<div id="msgNewPass" class="invalid-feedback">
								Enter new password
							</div>
						</div>
						<div class="mb-3">
							<label for="confirmNewPassword" class="form-label">Confirm New Password</label>
							<input type="password" class="form-control" id="confirmNewPassword" onkeyup="newPasswordChange()" aria-describedby="msgNewPassConfirm" required>
							<div id="msgNewPassConfirm" class="invalid-feedback">
								Re-enter new password
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary radius-8"
								data-bs-dismiss="modal">
							Cancel
						</button>
						<button type="button" class="btn btn-primary radius-8" id="btnSaveChangePassword" onclick="saveChangePassword()">
							<i class="bx bx-check"></i>
							Save
						</button>
					</div>
				</div>
			</div>
		</div>

		<!--start overlay-->
		<div class="overlay toggle-icon"></div>
		<!--end overlay-->
		<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
		<!--End Back To Top Button-->
		<footer class="page-footer">
			<p class="mb-0">Copyright © 2024. All right reserved.</p>
		</footer>
	</div>
	<!--end wrapper-->

	

	<script>
		function changePasswordClick() {
			$("#oldPassword").val("");
			$("#newPassword").val("");
			$("#confirmNewPassword").val("");

			$("#oldPassword").removeClass("is-valid is-invalid")
			$("#newPassword").removeClass("is-valid is-invalid")
			$("#confirmNewPassword").removeClass("is-valid is-invalid")

			$("#btnSaveChangePassword").prop("disabled", true);

			$("#modalChangePassword").modal("show");
		}

		function saveChangePassword() {
			const oldPass = $("#oldPassword");
			const newPass = $("#newPassword").val();
			const confirmNewPass = $("#confirmNewPassword").val();
			const msgOldPass = $("#msgOldPass");
			const btnSave = $("#btnSaveChangePassword");
			$.ajax({
				url: `/Index?handler=ChangePassword&password=${oldPass.val()}&newPassword=${newPass}`,
				type: 'GET',
				datatype: 'json',
				success: function (response) {
					if (!response.ok) {
						msgOldPass.text(response.message);
						oldPass.removeClass("is-valid").addClass("is-invalid");

						btnSave.prop("disabled", true);
					}else{
						$("#modalChangePassword").modal("hide");
						$("#toastMessage").toast('show');
					}
				},
				error: function (xhr, status, error) {
					console.error('Error:', error);
				}
			});
		}

		function newPasswordChange() {
			const oldPass = $("#oldPassword");
			const msgOldPass = $("#msgOldPass");
			const newPass = $("#newPassword");
			const confirmNewPass = $("#confirmNewPassword");
			const msgNewPass = $("#msgNewPass");
			const msgNewPassConfirm = $("#msgNewPassConfirm");
			const btnSave = $("#btnSaveChangePassword");

			btnSave.prop("disabled", false);

			if (oldPass.val() == "") {
				oldPass.removeClass("is-valid").addClass("is-invalid");
				msgOldPass.text("Enter your old password");
				btnSave.prop("disabled", true);
			} else {
				oldPass.removeClass("is-invalid").addClass("is-valid");
			}

			if (newPass.val() != confirmNewPass.val()) {
				newPass.removeClass("is-valid").addClass("is-invalid");
				confirmNewPass.removeClass("is-valid").addClass("is-invalid");

				msgNewPass.text("Password do not match");
				msgNewPassConfirm.text("Password do not match");
				msgNewPass.removeClass("valid-feedback").addClass("invalid-feedback");
				msgNewPassConfirm.removeClass("valid-feedback").addClass("invalid-feedback");

				btnSave.prop("disabled", true);
			} else {
				newPass.removeClass("is-invalid").addClass("is-valid");
				confirmNewPass.removeClass("is-invalid").addClass("is-valid");

				msgNewPass.text("Password match");
				msgNewPassConfirm.text("Password match");
				msgNewPass.removeClass("invalid-feedback").addClass("valid-feedback");
				msgNewPassConfirm.removeClass("invalid-feedback").addClass("valid-feedback");
			}

			if (newPass.val() == "") {
				newPass.removeClass("is-valid").addClass("is-invalid");
				msgNewPass.text("Enter new password");
				msgNewPass.removeClass("valid-feedback").addClass("invalid-feedback");
				btnSave.prop("disabled", true);
			}

			if (confirmNewPass.val() == "") {
				confirmNewPass.removeClass("is-valid").addClass("is-invalid");
				msgNewPassConfirm.text("Re Enter new password");
				msgNewPassConfirm.removeClass("valid-feedback").addClass("invalid-feedback");
				btnSave.prop("disabled", true);
			}

			if (newPass.val() == oldPass.val() && oldPass.val() != "") {
				newPass.removeClass("is-valid").addClass("is-invalid");
				confirmNewPass.removeClass("is-valid").addClass("is-invalid");
				msgNewPass.text("New password cannot be the same as old password");
				msgNewPassConfirm.text("New password cannot be the same as old password");
				msgNewPass.removeClass("valid-feedback").addClass("invalid-feedback");
				msgNewPassConfirm.removeClass("valid-feedback").addClass("invalid-feedback");
				btnSave.prop("disabled", true);
			}
		}

	</script>
    @* <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
	<script src="assets/js/bootstrap.bundle.min.js"></script>
	<!--plugins-->
	<script src="assets/plugins/simplebar/js/simplebar.min.js"></script>
	<script src="assets/plugins/fullcalendar/js/main.min.js"></script>
	<script src="assets/plugins/metismenu/js/metisMenu.min.js"></script>
	<script src="assets/plugins/perfect-scrollbar/js/perfect-scrollbar.js"></script>

	@* <script src="assets/js/index4.js"></script> *@
	<script src="assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatable/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- <script src="assets/js/swiper-bundle.min.js"></script>
	<script src="assets/js/slider.js"></script> -->
	<!--app JS-->
	<script src="assets/js/app.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>