@page
@using System.Data
@model Warehouse.Pages.MasterModel
@{
}

<div class="card radius-10">
	<div class="card-body">
		<ul class="nav nav-tabs nav-primary" role="tablist">
			<li class="nav-item" role="presentation">
				<a class="nav-link active" data-bs-toggle="tab" href="#bankMenu" role="tab" aria-selected="true">
					<div class="d-flex align-items-center">
						<div class="tab-icon">
							<i class='bx bxs-box font-18 me-1'></i>
						</div>
						<div class="tab-title">Category</div>
					</div>
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#groupCategory" role="tab" aria-selected="false">
					<div class="d-flex align-items-center">
						<div class="tab-icon">
							<i class='bx bxs-cube font-18 me-1'></i>
						</div>
						<div class="tab-title">Product</div>
					</div>
				</a>
			</li>
			<li class="nav-item" role="presentation">
				<a class="nav-link" data-bs-toggle="tab" href="#blastConfig" role="tab" aria-selected="false">
					<div class="d-flex align-items-center">
						<div class="tab-icon">
							<i class='bx bx-home-alt font-18 me-1'></i>
						</div>
						<div class="tab-title">Warehouse</div>
					</div>
				</a>
			</li>
		</ul>
		<div class="tab-content py-3">
			<div class="tab-pane fade show active" id="bankMenu" role="tabpanel">
				<div class="d-flex align-items-center mb-4">
					<div>
						<h5 class="font-weight-bold">Category</h5>
					</div>
					<div class="ms-auto">
						<button type="button" class="radius-8 btn btn-outline-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addNewCategory"><i class="bx bx-plus"></i>Add New</button>
					</div>
				</div>

				<div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
					<div class="d-flex align-items-center">
						<div class="font-35 text-success">
							<i class="bx bxs-check-circle"></i>
						</div>
						<div class="ms-3">
							<h6 class="mb-0 text-success">Success!</h6>
							<div>Congrats! You've successfully added data.</div>
						</div>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>

				<div class="table-responsive">
					<table id="tableCategory" class="table mb-0 align-middle" style="width:100%">
						<thead class="table-light">
							<tr>
								<td>Action</td>
								<th>Code</th>
								<th>Name</th>
								<th>Description</th>
								<th>UserInput</th>
							</tr>
						</thead>
						<tbody>
							@foreach (DataRow data in Model.GetAllCategory().Rows)
							{
								<tr>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-primary bg-light-primary border-0 me-3" data-bs-toggle="modal" data-bs-target="#modalEditBank"><i class="bx bxs-edit"></i></a>
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
									<td>@data["Code"]</td>
									<td>@data["Name"]</td>
									<td>@data["Description"]</td>
									<td>@data["UserInput"]</td>
								</tr>
							}
						</tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade" id="groupCategory" role="tabpanel">
				<div class="d-flex align-items-center mb-4">
					<div>
						<h5 class="font-weight-bold mb-2">Master Grouping Category</h5>
					</div>
					<div class="ms-auto">
						<button type="button" class="radius-8 btn btn-outline-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addNewGroupC"><i class="bx bx-plus"></i>Add New</button>
					</div>
				</div>

				<div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
					<div class="d-flex align-items-center">
						<div class="font-35 text-success">
							<i class="bx bxs-check-circle"></i>
						</div>
						<div class="ms-3">
							<h6 class="mb-0 text-success">Success!</h6>
							<div>Congrats! You've successfully added data.</div>
						</div>
					</div>
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>

				<div class="table-responsive">
					<table id="tableGroupingCategory" class="table mb-0 align-middle" style="width:100%">
						<thead class="table-light">
							<tr>
								<th>ID Group</th>
								<th>Group Name</th>
								<th>Status</th>
								<th>View Details</th>
								<th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>01</td>
								<td>EOB</td>
								<td>
									<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
										Active
									</div>
								</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm radius-30 px-4" data-bs-toggle="modal" data-bs-target="#modalViewDetail">
										View
										Details
									</button>
								</td>
								<td>
									<div class="d-flex order-actions">
										<a type="button" class="text-primary bg-light-primary border-0 me-3" data-bs-toggle="modal" data-bs-target="#modalEditGroupCategory"><i class="bx bxs-edit"></i></a>
										<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
									</div>
								</td>
							</tr>
							<tr>
								<td>02</td>
								<td>CASH OUT</td>
								<td>
									<div class="badge rounded-pill text-secondary bg-light-secondary p-2 text-uppercase px-3">
										Inactive
									</div>
								</td>
								<td>
									<button type="button" class="btn btn-primary btn-sm radius-30 px-4" data-bs-toggle="modal" data-bs-target="#modalViewDetail">
										View
										Details
									</button>
								</td>
								<td>
									<div class="d-flex order-actions">
										<a type="button" class="text-primary bg-light-primary border-0 me-3" data-bs-toggle="modal" data-bs-target="#modalEditGroupCategory"><i class="bx bxs-edit"></i></a>
										<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="tab-pane fade" id="blastConfig" role="tabpanel">
				<div class="btn-group-round text-center">
					<div class="btn-group">
						<button type="button" class="btn btn-white tablinks selected" onclick="toggleBtn(event, '3Hours')">Outstanding 1-3 Hours / Daily</button>
						<button type="button" class="btn btn-white tablinks" onclick="toggleBtn(event, '6Hours')">Outstanding > 6 Hours</button>
					</div>
				</div>
				<hr />
				<div class="blast-config" id="3Hours">
					<div class="d-flex align-items-center mb-4">
						<div>
							<h5 class="font-weight-bold mb-2">Outstanding 1-3 Hours / Daily</h5>
						</div>
						<div class="ms-auto">
							<button type="button" class="radius-8 btn btn-outline-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addNewOutstanding3Hours"><i class="bx bx-plus"></i>Add New</button>
						</div>
					</div>

					<div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
						<div class="d-flex align-items-center">
							<div class="font-35 text-success">
								<i class="bx bxs-check-circle"></i>
							</div>
							<div class="ms-3">
								<h6 class="mb-0 text-success">Success!</h6>
								<div>Congrats! You've successfully added data.</div>
							</div>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>

					<div class="table-responsive mb-5">
						<table id="tableOutstanding3Hours" class="table mb-0 align-middle" style="width:100%">
							<thead class="table-light">
								<tr>
									<th>Employee Code</th>
									<th>Name</th>
									<th>Phone Number</th>
									<th>Branch</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WSS-11231</td>
									<td>John Walker</td>
									<td>088079878692</td>
									<td>CIDENG</td>
									<td>
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											Active
										</div>
									</td>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>WSS-11231</td>
									<td>Anisa</td>
									<td>088079878692</td>
									<td>CIDENG</td>
									<td>
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											Active
										</div>
									</td>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>WSS-11231</td>
									<td>Hary Maguire</td>
									<td>088079878692</td>
									<td>CIDENG</td>
									<td>
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											Active
										</div>
									</td>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>WSS-11231</td>
									<td>Paul</td>
									<td>088079878692</td>
									<td>CIDENG</td>
									<td>
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											Active
										</div>
									</td>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
								</tr>
								<tr>
									<td>WSS-11231</td>
									<td>Felix</td>
									<td>088079878692</td>
									<td>CIDENG</td>
									<td>
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											Active
										</div>
									</td>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>

				<div class="blast-config" id="6Hours" style="display: none;">
					<div class="d-flex align-items-center mb-4">
						<div>
							<h5 class="font-weight-bold mb-2">Outstanding > 6 Hours</h5>
						</div>
						<div class="ms-auto">
							<button type="button" class="radius-8 btn btn-outline-primary d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#addNewOutstanding6Hours"><i class="bx bx-plus"></i>Add New</button>
						</div>
					</div>

					<div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2">
						<div class="d-flex align-items-center">
							<div class="font-35 text-success">
								<i class="bx bxs-check-circle"></i>
							</div>
							<div class="ms-3">
								<h6 class="mb-0 text-success">Success!</h6>
								<div>Congrats! You've successfully added data.</div>
							</div>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>

					<div class="table-responsive">
						<table id="tableOutstanding6Hours" class="table mb-0 align-middle" style="width:100%">
							<thead class="table-light">
								<tr>
									<th>Employee Code</th>
									<th>Name</th>
									<th>Phone Number</th>
									<th>Branch</th>
									<th>Status</th>
									<th>Action</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>WSS-11231</td>
									<td>JOHN WALKER</td>
									<td>088079878692</td>
									<td>CIDENG</td>
									<td>
										<div class="badge rounded-pill text-primary bg-light-primary p-2 text-uppercase px-3">
											Active
										</div>
									</td>
									<td>
										<div class="d-flex order-actions">
											<a type="button" class="text-danger bg-light-danger border-0" data-bs-toggle="modal" data-bs-target="#modalDeleteBank"><i class="bx bxs-trash"></i></a>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- MODAL Add -->
<div class="modal fade" id="addNewCategory" tabindex="-1" aria-labelledby="addNewCategoryLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content radius-10">
			<div class="modal-header">
				<h5 class="modal-title" id="addNewCategoryLabel">Add New Category</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<div class="mb-3">
					<label class="form-label">Select Bank</label>
					<select class="form-select" id="selectBank">
						<option value="" selected>Select Bank...</option>
						<option value="admf">ADMF - PT ADIRA DINAMIKA MULTI FINANCE</option>
						<option value="agr">AGR - BANK AGRIS</option>
					</select>
				</div>
				<div class="mb-3">
					<label for="" class="form-label">Status</label>
					<div class="form-check form-switch">
						<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
						<label class="form-check-label" for="flexSwitchCheckChecked">Active</label>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary radius-8"
					data-bs-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-primary radius-8"><i class="bx bx-check"></i>Submit</button>
			</div>
		</div>
	</div>
</div>
<!-- END MODAL -->

<script>
	$(document).ready(function () {
		var table = $('#tableCategory').DataTable({
		});
	});
</script>