@page
@using System.Data
@model TransactionModel
@{
    ViewData["Title"] = "Transaction";
}

<div class="d-flex align-items-center mb-2">
    <div>
        <h4 class="font-weight-bold mb-2">Transaction</h4>
        <p>Record transaction in and transaction out</p>
    </div>
</div>

<div class="card radius-10">
	<div class="card-body">

		<button type="button" class="mb-2 radius-8 btn btn-outline-primary d-flex align-items-center" onclick="addTransaction()"><i class="bx bx-plus"></i>Add New</button>

		<div class="alert border-0 border-start border-5 border-success alert-dismissible fade show py-2" id="alertTransaction">
			<div class="d-flex align-items-center">
				<div class="font-35 text-success">
					<i class="bx bxs-check-circle"></i>
				</div>
				<div class="ms-3">
					<h6 class="mb-0 text-success">Success!</h6>
					<div id="alertTransactionText">You've successfully added data.</div>
				</div>
			</div>
			<button type="button" class="btn-close" onclick="$('#alertTransaction').addClass('d-none')" aria-label="Close"></button>
		</div>

		<div class="table-responsive">
			<table id="tableTransaction" class="table mb-0 align-middle" style="width:100%">
				<thead class="table-light">
					<tr>
						<th>Action</th>
						<th>Code</th>
						<th>Name</th>
						<th>Status</th>
						<th>User Input</th>
					</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>

    </div>
</div>

<div class="modal fade" id="modalTransaction" tabindex="-1" aria-labelledby="modalTransactionLabel" aria-hidden="true" data-bs-keyboard="false" data-bs-backdrop="static">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content radius-10">
			<div class="modal-header">
				<h5 class="modal-title" id="modalTransactionLabel">Add Transaction</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="IDTransaction" />
				<div class="mb-3">
					<label for="TransactionDate" class="form-label">Transaction Date</label>
					<input type="date" class="form-control" id="TransactionDate" name="TransactionDate" pattern="\d{4}-\d{2}-\d{2}">
				</div>
				<div class="mb-3">
					<label class="form-label">Select Warehouse</label>
					<select class="form-select" id="Warehouse">
						<option value="" selected>Select Warehouse...</option>
						@foreach (DataRow dr in Model.GetAllWarehouse().Rows)
						{
							<option value='@dr["Code"]'>@dr["Name"]</option>
						}
					</select>
				</div>
				<div class="mb-3">
					<label class="form-label">Transaction Type</label>
					<select class="form-select" id="TransactionType">
						<option value="" selected>Select Transaction Type...</option>
						<option value='IN'>IN</option>
						<option value='OUT'>OUT</option>
					</select>
				</div>
				<label class="form-label">Product</label>
				<div class="card">
					<div class="card-body">
						<button type="button" class="mb-2 radius-8 btn btn-outline-primary" onclick="addProduct()">
							<i class="bx bx-plus"></i>
							Add Product
						</button>
						<div class="table-responsive">
							<table id="tableProduct" class="table mb-0 align-middle" style="width:100%">
								<thead class="table-light">
									<tr>
										<th>Action</th>
										<th>Product</th>
										<th>Quantity</th>
									</tr>
								</thead>
								<tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary radius-8"
						data-bs-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary radius-8" onclick="saveTransaction()">
					<i class="bx bx-check"></i>
					Save
				</button>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="modalProduct" tabindex="-1" aria-labelledby="modalProductLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content radius-10">
			<div class="modal-header">
				<h5 class="modal-title" id="modalProductLabel">Add Product</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<input type="hidden" id="IDProduct" />
				<div class="mb-3">
					<label class="form-label">Select Product</label>
					<select class="form-select" id="Product">
						<option value="" selected>Select Product...</option>
						@foreach (DataRow dr in Model.GetAllProduct().Rows)
						{
							<option value='@dr["Code"]'>@dr["Name"]</option>
						}
					</select>
				</div>
				<div class="mb-3">
					<label for="QuantityProduct" class="form-label">Quantity</label>
					<input type="number" class="form-control" id="QuantityProduct">
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary radius-8"
						data-bs-dismiss="modal">
					Cancel
				</button>
				<button type="button" class="btn btn-primary radius-8" onclick="saveProduct()">
					<i class="bx bx-check"></i>
					Save
				</button>
			</div>
		</div>
	</div>
</div>

<div id="modalError" class="modal fade" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Error</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p id="modalErrorLabel">Please select Product</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary px-4 py-1" data-bs-dismiss="modal">Ok</button>
			</div>
		</div>
	</div>
</div>



<script>

	let listProduct = [];

	$(document).ready(function () {
		refreshDataTable();

		$("#alertTransaction").addClass('d-none');
	});

	$(document).on({
		'show.bs.modal': function () {
			var zIndex = 1040 + (10 * $('.modal:visible').length);
			$(this).css('z-index', zIndex);
			setTimeout(function () {
				$('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
			}, 0);
		},
		'hidden.bs.modal': function () {
			if ($('.modal:visible').length > 0) {
				setTimeout(function () {
					$(document.body).addClass('modal-open');
				}, 0);
			}
		}
	}, '.modal');

	function refreshDataTable() {
		$.ajax({
			url: "?handler=AllTransaction",
			type: "GET",
			success: function (data) {
				var table = $('#tableTransaction').DataTable({
					data: data,
					destroy: true,
					columns: [
						{
							data: "ID", render: function (data, types, row, meta) {
								return '<div class="d-flex order-actions">' +
									'<a type="button" class="text-primary bg-light-primary border-0 me-3" onclick="editTransaction(\'' + data + '\')"><i class="bx bxs-edit"></i></a>' +
									'<a type="button" class="text-danger bg-light-danger border-0" onclick="deleteTransaction(\'' + data + '\')" data-bs-toggle="modal" data-bs-target="#modalDelete"><i class="bx bxs-trash"></i></a>' +
									'</div>';
							}
						},
						{ data: "Warehouse" },
						{ data: "TransactionType" },
						{ data: "TransactionDate" },
						{ data: "QuantityTotal" },
					],
				})
			},
			error: function (xhr, status, error) {
				console.error(xhr.responseText);
			}
		});

		var tableProduct = $('#tableProduct').DataTable({
			data: listProduct,
			destroy: true,
			columns: [
				{
					data: "ID", render: function (data, types, row, meta) {
						return '<div class="d-flex order-actions">' +
							'<a type="button" class="text-primary bg-light-primary border-0 me-3" onclick="editProduct(\'' + data + '\')"><i class="bx bxs-edit"></i></a>' +
							'<a type="button" class="text-danger bg-light-danger border-0" onclick="deleteProduct(\'' + data + '\')" data-bs-toggle="modal" data-bs-target="#modalDelete"><i class="bx bxs-trash"></i></a>' +
							'</div>';
					}
				},
				{ data: "Product" },
				{ data: "Quantity" },
			],
		})
	}

	function addTransaction() {
		$("#TransactionDate").val("");
		$("#Warehouse").val("");
		$("#TransactionType").val("");
		$("#DescriptionTransaction").val("");
		$("#IDTransaction").val("");
		$("#modalTransactionLabel").text("Add Transaction");

		$("#modalTransaction").modal('show');
	}

	function addProduct() {
		$("#Product").val("");
		$("#QuantityProduct").val("");
		$("#IDProduct").val("");

		$("#modalProductLabel").text("Add Product");
		$("#modalProduct").modal("show");
	}

	function saveProduct() {
		const productCode = $("#Product").val();
		const productName = $("#Product option:selected").text();
		const quantity = $("#QuantityProduct").val();

		if (productCode == "") {
			$("#modalErrorLabel").text("Please select product");
			$("#modalError").modal("show");
			return;
		}

		if (quantity == "" || quantity == "0") {
			$("#modalErrorLabel").text("Please fill in the quantity field");
			$("#modalError").modal("show");
			return;
		}

		if (listProduct.find(item => item.ProductCode == productCode) != null) {
			$("#modalErrorLabel").text("This product already exists");
			$("#modalError").modal("show");
			return;
		}

		let newID = 1; 
		if (listProduct.length > 0) {
			newID = listProduct[listProduct.length - 1].ID + 1;
		}
		const newProduct = {
			ID: newID,
			Product: productName,
			ProductCode: productCode,
			Quantity: quantity
		};

		listProduct.push(newProduct);
		refreshDataTable();
		$("#modalProduct").modal("hide");
	}

	function editProduct(ID) {
		const product = listProduct.find(item => item.ID == ID);
		alertProduct.hidden = true;
		$("#Product").val(product.ProductCode);
		$("#QuantityProduct").val(product.Quantity);
		$("#IDProduct").val(ID);
		$("#modalProductLabel").text("Edit Product");
		$("#modalProduct").modal("show");
	}
</script>